/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general-end*/

/* navigation */

/* navigation-end */

/* hero */

/* hero-end */

/* about me */

/* about me-end */

/* projects */

/* projects-end */

/* contact */

/* contact-end */

/* footer */

/* footer-end */

/* media queries */

/*

@media (min-width: 768px) {

}

@media (min-width: 992px ) {

}

/*

/* medioa queries-end */